body {
  overflow-x: hidden;
}

.SearchGrid {
  max-width: 400px;
}

.container {
  background-image: url(./images/papir.jpg);
}

@media (max-width: 876px) {
  .SearchGrid {
    max-width: 10px !important;
    width: 10px;
  }
}
